[submodule "third_party/py/PyAPNs"]
	path = third_party/py/PyAPNs
	url = https://github.com/djacobs/PyAPNs.git
[submodule "third_party/py/werkzeug"]
	path = third_party/py/werkzeug
	url = https://github.com/mitsuhiko/werkzeug.git
[submodule "third_party/py/flask"]
	path = third_party/py/flask
	url = https://github.com/mitsuhiko/flask.git
[submodule "third_party/py/itsdangerous"]
	path = third_party/py/itsdangerous
	url = https://github.com/mitsuhiko/itsdangerous.git
[submodule "third_party/py/jinja2"]
	path = third_party/py/jinja2
	url = https://github.com/mitsuhiko/jinja2.git
[submodule "third_party/py/markupsafe"]
	path = third_party/py/markupsafe
	url = https://github.com/mitsuhiko/markupsafe.git
[submodule "third_party/py/click"]
	path = third_party/py/click
	url = https://github.com/mitsuhiko/click.git
[submodule "third_party/rcswitch-pi"]
	path = third_party/rcswitch-pi
	url = git@github.com:tomwilkie/rcswitch-pi.git
[submodule "third_party/open-zwave"]
	path = third_party/open-zwave
	url = https://github.com/tomwilkie/open-zwave.git
[submodule "third_party/python-openzwave"]
	path = third_party/python-openzwave
	url = https://github.com/tomwilkie/python-openzwave.git
[submodule "third_party/py/phue"]
	path = third_party/py/phue
	url = https://github.com/studioimaginaire/phue.git
[submodule "third_party/wiringPi"]
	path = third_party/wiringPi
	url = git://git.drogon.net/wiringPi
[submodule "third_party/fswatch"]
	path = third_party/fswatch
	url = https://github.com/alandipert/fswatch.git
[submodule "third_party/py/PythonPusherClient"]
	path = third_party/py/PythonPusherClient
	url = https://github.com/tomwilkie/PythonPusherClient.git
[submodule "third_party/py/pusher_client_python"]
	path = third_party/py/pusher_client_python
	url = https://github.com/pusher/pusher_client_python.git
[submodule "third_party/py/requests"]
	path = third_party/py/requests
	url = https://github.com/kennethreitz/requests.git
[submodule "third_party/static/bootstrap"]
	path = third_party/static/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "third_party/py/pywemo"]
	path = third_party/py/pywemo
	url = https://github.com/tomwilkie/pywemo.git
[submodule "src/common/creds"]
	path = src/common/creds
	url = https://github.com/tomwilkie/creds.git
[submodule "third_party/py/pyping"]
	path = third_party/py/pyping
	url = https://github.com/certator/pyping/
[submodule "third_party/static/jquery-bbq"]
	path = third_party/static/jquery-bbq
	url = https://github.com/cowboy/jquery-bbq
[submodule "third_party/static/moment"]
	path = third_party/static/moment
	url = https://github.com/moment/moment.git
