.hg
dist/
*~
*.pyc
*.o
._*
\#*
src/common/creds
src/common/creds.py
third_party/static/glyphicons_pro
*.orig
*.rej
*.log
*.cfg

*.xccheckout
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*~.nib
*.mode1v3
*.mode2v3
xcuserdata
