/*
 * Base structure
 */

body {
  font: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  padding-top: 0px;
  background-color: rgb(229, 229, 229);
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 1;

  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;

  background-color: rgb(3, 169, 244);
  border-bottom: 1px solid #eee;
  color: #FFF;
}

.header h1 {
  margin-top: 0;
  font-size: 21px;
  font-weight: normal;
}

.header h1 button.dropdown-toggle {
  color: inherit;
  background: inherit;
  border: none;
}

div#main {
  margin-top: 100px;
}

/* Top navigation */
.nav > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: inherit;
}

.nav > a:hover,
.nav > a:focus {
  color: #000;
}

.nav > .active > a,
.nav > .active > a:hover,
.nav > .active > a:focus {
  background-color: #428bca;
}

/*
 * Placeholder dashboard ideas
 */

.row {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.room {
  padding: 0;
  padding-right: 8px;
}

.room > .room-name {
  font-size: 1.5em;
  color: #424242;
}

.room > .room-name  > div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
}

.room > .room-name > .btn-group {
  position: absolute;
  top: 0px;
  right: 0px;
}

.room > .room-name > .btn-group > button {
  border: none;
  background: inherit;
}

.devices {
  padding-left: 8px;
}

.card {
  padding: 5px;
  margin-bottom: 8px;
  margin-right: 8px;

  border-radius: 3px;
  border: 1px solid #F5F5F5;
  background-color: #FFFFFF;
  box-shadow: rgba(0,0,0,.098) 0 2px 4px, rgba(0,0,0,.098) 0 0 3px;
  color: #424242;
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.device {
  position: relative;

  box-sizing: border-box;
  height: 140px;
  width: 100%;

  text-align: center;
}

.device .watermark {
  position: absolute;
  left: -15px;
  bottom: -5px;
}

.watermark.glyphicons-lightbulb {
  color: #FFECB3;
}

.watermark.glyphicons-iphone {
  color: #9CCC65;
}

.watermark.glyphicons-cloud {
  color: #EEEEEE;
}

.watermark.glyphicons-music {
  color: #EF9A9A;
}

.device .device-name {
  position: absolute;
  width: 100%;
  height: 2em;
  top: 0;
  left: 0;
  right: 0;

  padding-left: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1.5em;
}

.device .device-details {
  position: absolute;
  top: 2em;
  bottom: 2em;
  left: 0;
  right: 0;
}

.device .btn-group {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.device button {
  color: inherit;
  background: inherit;
  border: none;
  border-radius: 3px 0px 3px 0px;
}

ul.dropdown-menu a .menucontrol {
  position: relative;
  padding-left: 20px;
}

ul.dropdown-menu a .menucontrol .glyphicon {
  position: absolute;
  top: 0;
  left: 0px;
}

/*
 * Spinning loading icon
 */
.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
